@import "@styles/main.scss";

.show-card {
	max-width: 170px;
}

.show-poster-container {
	position: relative;
	display: block;
	width: 170px;
	height: calc(170px * 1.42);
	margin-bottom: .3em;
	overflow: hidden;
}

.show-poster-container,
.show-poster {
	border-radius: variable(card-border-radius);
}

.show-poster {
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: variable(container-background-color);
}

.overlay-play-icon {
	font-size: 4em;
}

.show-information {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.show-title {

	@include text-wrap;

	margin-top: 0;
	margin-bottom: 5px;
	font-size: 1.1rem;
	font-weight: 500;
	text-align: left;
}

@media only screen and (max-width: 700px) {

	.show-card {
		max-width: 110px;
	}

	.show-poster-container {
		width: 110px;
		height: calc(110px * 1.42);
	}

	.show-title {
		font-size: .9rem;
	}
}