@import "@styles/main.scss";

// Variables
$card-width: 170px;

.show-card {
	max-width: $card-width;
}

.show-poster-container {
	position: relative;
	display: block;
	width: $card-width;
	height: calc($card-width * 1.42);
	margin-bottom: .3em;
	overflow: hidden;
}

.show-poster-container,
.show-poster {
	border-radius: variable(card-border-radius);
}

.show-poster {
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: variable(container-background-color);
}

.overlay-play-icon {
	font-size: 4em;
}

.show-information {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.show-title {

	@include text-wrap;

	margin-top: 0;
	margin-bottom: 5px;
	font-size: 1.1rem;
	font-weight: 500;
	text-align: left;
}

@media only screen and (max-width: 700px) {

	$card-width: 110px;

	.show-card {
		max-width: $card-width;
	}

	.show-poster-container {
		width: $card-width;
		height: calc($card-width * 1.42);
	}

	.show-title {
		font-size: .9rem;
	}
}