@import "@styles/main";
@import "@styles/mixins";
@import "@styles/variables";

// Themeing

*[variant="light"] {
	@include light;
}

*[variant="dark"] {
	@include dark;
}

// Classes

.flavorable {
	transition: $flavorable-transitions;
}

.icon {

	height: 1em;

	path {
		stroke: variable(text-color);
	}

	&:not(.no-fill) path {
		fill: variable(text-color);
	}

	&.no-fill path {
		fill: none;
	}
}

// Elements

.button,
.primary-button,
.secondary-button,
.tray-button {

	color: variable(text-color);
	font-size: 18px;
	font-weight: 500;
	border: 0;
	border-radius: variable(button-border-radius);
	padding: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
	transition: $flavorable-transitions, .2s background-color ease-in-out, .2s opacity ease;
	cursor: pointer;

	&.disabled {
		opacity: .5;
		cursor: not-allowed;
	}
}

.primary-button {

	background-color: variable(primary-color);
	border-color: variable(primary-color);

	&:hover {
		background-color: variable(primary-hover-color);
	}
}

.secondary-button {

	@include light;

	&:hover {
		background-color: variable(container-hover-color);
	}
}

.tray-button {

	background-color: variable(tray-background-color);

	&:hover {
		background-color: variable(tray-hover-background-color);
	}
}

.icon-button {
	border-width: 2px;
	padding: 6px;
	font-size: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.input {

	font-size: 1.1em;
	
	border: 2px solid transparent;
	border-radius: variable(popup-border-radius);
	
	padding: .2em .4em .2em .4em;
	
	display: inline-flex;
	align-items: center;
	
	transition: border-color .2s ease-in-out;

	&:not([variant="dark"]) {
		@include light;
	}

	&,
	input {

		font-family: variable(font);

		color: variable(text-color);

		box-sizing: border-box;
		outline: none;
	}

	input {
		font-size: 1em;
		background: none;
		border: none;
		padding: .1em .2em .1em .2em;
	}

	.icon {
		margin-right: .2em;
	}

	&:focus,
	&.active {
		border-color: variable(primary-color);
	}
}

.husk,
.husk-dark {
	color: transparent;
	border-radius: variable(card-border-radius);
	user-select: none;
	animation: gradient 5s ease infinite;
}

.husk-dark {
	background: linear-gradient(45deg, variable(background-color), #181818);
	background-size: 200% 100%;
}

.husk {
	background: linear-gradient(45deg, variable(container-background-color), #111);
	background-size: 200% 100%;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: variable(overlay-background-color);
	border-radius: variable(card-border-radius);
	transition: opacity .2s ease;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.hover-opacity {

	opacity: 0;
	transition: opacity .2s ease-in-out;

	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}

// Text

.heading {

	@include text-wrap;

	// Defaults
	font-size: 2.8rem;
	margin-top: 1rem;
	margin-bottom: 1rem;

	font-weight: bold;
	text-align: left;

	@at-root h1#{&} {
		font-size: 2.8rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	@at-root h2#{&} {
		font-size: 2.2rem;
		margin-top: .8rem;
		margin-bottom: .8rem;
	}

	@at-root h3#{&} {
		font-size: 1.5rem;
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
}

@media only screen and (max-width: 800px) {
	.heading {

		@at-root h1#{&} {
			font-size: 2.5rem;
		}

		@at-root h2#{&} {
			font-size: 2rem;
		}

		@at-root h3#{&} {
			font-size: 1.4rem;
		}

	}
}

@media screen and (max-width: 700px) {
	.heading {

		@at-root h1#{&} {
			font-size: 2.3rem;
		}

		@at-root h2#{&} {
			font-size: 1.9rem;
		}

		@at-root h3#{&} {
			font-size: 1.2rem;
		}

	}
}

.faded-heading {
	color: variable(faded-heading-text-color);
}

.faded {
	color: variable(faded-text-color);
	text-align: center;
}

.error {
	color: variable(error-color);
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

.anchor-without-decoration {
	text-decoration: none;
	color: inherit;
}

.no-select {
	user-select: none;
}

// Can we please, for the love of God, incorporate a standard for this
// Also, for some reason, I cannot combine these together? What the fuck?

@mixin track () {
	-webkit-appearance: none;
	background: variable(container-hover-color);
	height: .6rem;
	border-radius: 1rem;
}

@mixin progress () {
	-webkit-appearance: none;
	background: variable(primary-color);
	border-radius: 1rem;
	height: .6rem;
}

@mixin thumb () {
	-webkit-appearance: none;
	background: variable(text-color);
	width: 1.1rem;
	height: 1.1rem;
	border: 2px solid variable(text-color);
	border-radius: 50%;
	cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="range"] {
		-webkit-appearance: none;
	}
}

input[type="range"] {

	background: transparent;
	padding: .1rem 0 .1rem 0; // Allows the thumb to look like a perfect oversized circle

	// Firefox
	&::-moz-range-track { @include track; overflow: hidden; }
	&::-moz-range-progress { @include progress; }
	&::-moz-range-thumb { @include thumb; }

	// Safari/Chrome/Edge
	// Support the HTML5 specification or else you can eat my shit, WebKit/Blink
	// &::-webkit-slider-runnable-track { @include track }
	&::-webkit-slider-container { @include track; }
	&::-webkit-slider-thumb { @include thumb; }

}
