@import "@styles/main";

@mixin text-wrap {
	overflow-wrap: break-word;
	word-break: break-word;
	white-space: break-spaces;
	hyphens: auto;
}

@mixin light () {
	background-color: variable(container-background-color);
	border-color: variable(container-background-color);
}

@mixin dark () {
	background-color: variable(background-color);
	border-color: variable(background-color);
}

@mixin box-shadow () {
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, .4);
}